.hero {
  height: 500px;
}

.slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  img {
    object-fit: cover;
    opacity: 0.6;
  }
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.indicadores button {
  width: 0.75rem;
  height: 0.75rem;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);

  &.activo {
    background-color: #fff;
  }
}
