thead th {
  background-color: #f0fdfa;
  color: var(--dogtor-textdark);
  white-space: nowrap;
}

.enlace-dueno {
  color: var(--dogtor-textdark);

  &:hover {
    color: var(--dogtor-primary);
  }
}
